		/*Settnigs for row*/

.row{
	margin: 0;
}
		/*Navbar Style*/

.navbar{
	width: 100%;
	background-color: #313536;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-logo{
	color: #00E472;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	text-shadow: 5px 5px 10px #00E472;
}
.navbar-logo img{
	width: 100%;
}
.navbar-logo h4{
	font-size: 21px;
}
.navbar-main{
	text-align: center;
	margin-top: 1rem;
}
.navbar-link ul{
	list-style: none;
	padding: 0;
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-around;
	

}
.navbar-link a{
	color: #fff;
	font-family: 'DM Sans', sans-serif;
	-webkit-transition: all 1s ease;
	text-decoration: none;
}
.navbar-link a:hover{
	color:#00E472;
}	
.navbar-btn{
	margin-top: 1.5rem;
}
.navbar-btn a{
	color: white;
	background-color: #00E472;
	border-color: #00E472;
	border-radius: 20px;
	padding: 0.8rem 7.5rem;
	font-family: 'DM Sans', sans-serif;
	text-decoration: none;
	border-radius: 20px;
	    -moz-transition: all .4s ease-in-out;
	    -o-transition: all .4s ease-in-out;
	    -webkit-transition: all .4s ease-in-out;
	    transition: all .4s ease-in-out;
}
.navbar-btn a:hover{
	background-position: 100% ;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0ba360, #00E472, #00E472, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

		/*Hero style*/

.hero{
	background-color: #252829;
	padding-bottom: 10rem;
	padding-top: 9rem;
}
.hero-text{
	margin-top: 2rem;
}
.hero-text-one{
	width: 100%;
	font-family: 'Rufina', serif;
	font-size: 5rem;
	line-height: 6.4rem;
	color: #FFFFFF;
}
.hero-text-two{
	width: 100%;
	height: 9rem;
	font-family: 'DM Sans';
	font-size: 3rem;
	line-height: 3.9rem;
	color: #808080;
}
.hero-link{
	color: #000;
}
.hero-btn{
	width: 100%;
	height: 5rem;
	font-weight: 600;
	color: white;
	background: #252829;
	border: 3px solid #00E472;
	border-radius: 38px;
	padding: 1rem 0;
}
.hero-btn:hover{
	background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0ba360, #00E472, #00E472, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);

}
.hero-image img{
	border-radius: 100rem;
	width: 100%;
	height: 45rem;
}

		/*About-me-styles*/

.about-me{
	padding: 5rem 0;
	width: 100%;
	background: #313536;
}
.about-me-img{
	width: 100%;
	height: 450px;
	margin: 8rem 0;
	border-radius: 42px;
	background: linear-gradient(145deg, #868b87, #717571);
	box-shadow:  20px 20px 10px #777c78,
	             -20px -20px 10px #838984;
}
.about-me-text{
	margin-top: 8rem;
}
.ab-me-1{
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #00E472;
}
.ab-me-2{
	padding: 0 0 3rem 0;
	font-family: 'Rufina';
	font-weight: 400;
	font-size: 45px;
	line-height: 56px;
	color: #FFFFFF;
}
.ab-me-3{
	font-family: 'Rufina';
	font-size: 1.8rem;
	line-height: 2rem;
	color: #ABAEB0;
}
.ab-me-3_some{
	font-family: 'Rufina';
	color: #00E472;
	font-size: 2.5rem;
}
.create{
	margin-bottom: 4rem;
}
.ab-me-4{
	margin-top: 5rem;
	font-family: 'Rufina';
	font-size: 2.9rem;
	line-height: 3rem;
	color: #fff;
}


/*Skills styles*/


.my_skills{
	width: 100%;
	padding-top: 5rem;
	padding-bottom: 1rem;
	background-color: #252829;
}
.my-skills-header {
	width: 100%;
	font-family: 'Rufina';
	font-size: 4.8rem;
	line-height: 7.5rem;
	color: #FFFFFF;
}
.my-skills-info{
	width: 100%;
	height: 18.6rem;
	margin-top: 5rem;
	font-family: 'DM Sans';
	font-size: 2rem;
	line-height: 3rem;
	color: #ABAEB0;
}
.my-skills-right{
	text-align: center;
}
.first-ring{
	width: 15rem;
	height: 15rem;
	margin-top: 2.5rem;
	margin-left: 10rem;
	border-radius: 100px;	
	background-color: #00E472;
}
.second-ring{
	width: 12rem;
	height: 12rem;
	margin-top: 1.5rem;
	border-radius: 100px;
	background-color: #252829;
}
.ring-text{
	color: #fff;
	padding-top: 4.5rem;
	font-size: 2rem;
}

/*

*/

/*More-about-me-styles*/


.forward{
	margin-top: 6rem;
}
.line{
	margin-top:15rem;
	width: 36px;
	height: 36px;
	border: 2px solid #00E472;
	border-radius: 50px;
}
.line-main{
	margin-left: 4.5px;
	width: 0.5rem;
	height: 50rem;
	border-radius: 50px;
	border: 2px solid rgba(0, 228, 114, 0.5);
}
.circle{
	margin-top: 9px;
	margin-left: 9px;
	width: 14px;
	height: 14px;
	border-radius: 50px;
	background: #00E472;
}
.more-about-me{
	width: 100%;
	background: #313536;
}
.more-header{
	margin-top: 5rem;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #00E472;
}
.more-education{
	font-family: 'Rufina';
	font-size: 45px;
	line-height: 56px;
	color: #FFFFFF;
	margin-bottom: 4rem;
}
.more-inform-header{
	font-family: 'DM Sans';
	font-size: 14px;
	line-height: 31px;
	color: #00E472;
}
.more-inform-header_second{
	font-family: 'Rufina';
	font-size: 22px;
	line-height: 4px;
	color: #FFFFFF;
}
.more-inform-text{
	width: 374px;
	height: 108px;
	font-family: 'DM Sans';
	font-size: 15px;
	line-height: 26px;
	display: flex;
	align-items: center;
	color: #ABAEB0;
}
.more-image{
	margin-top: 16.5rem;
	width: 100%;
	height: 440px;
	border-radius: 50px;
	background: linear-gradient(315deg, #34393a, #2c3031);
	box-shadow:  -9px -9px 18px #282b2c,
	             9px 9px 18px #3a3f40;
}


		/*My-project-styles*/


.my-project{
	width: 100%;
	background-color: #252829;
}
.my-project_h3{
	text-align: center;
	padding-top: 3rem;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #00E472;

}
.my-project_h2{

	font-family: 'Rufina';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 56px;
	color: #FFFFFF;
	text-align: center;
}
.text-header{
	margin-top: 5rem;
	text-align: center;
	padding-top: 3rem;
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #00E472;
	text-shadow: 5px 5px 10px #00FF00;
}
.my-project_first{
	margin-top: 5rem;
	margin-bottom: 10rem;
	text-align: center;
	width: 35rem;
	height: 25rem;
	border-radius: 64px;
	background: #252829;
	box-shadow:  25px 25px 50px #1a1c1c,
	             -25px -25px 50px #303436;
}
.my-project_first img{
	margin-top: 2.5rem;
	width: 30rem;
	height: 20rem;
	border-radius: 35px;
}


		/*Contact form styles*/


.contac{
	width: 100%;
	background-color: #313536;
}
.contac-text_h3{
	margin-top: 5rem;
	text-align: center;
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #00E472;
}
.contac-text_h2{
	margin-bottom: 5rem;
	text-align: center;
	font-family: 'Rufina';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 56px;
	color: #FFFFFF;
}
.first-form_text{
	font-family: 'DM Sans';
	font-weight: 400;
	font-size: 20px;
	color: #ABAEB0;
}
.form-one{
	margin-bottom: 2rem;
	width: 100%;
	height: 5rem;
	border: 3px solid #00E472;
	border-radius: 20px;
	background-color: #313536;
	color: white;
}
.form-two{
	margin-bottom: 4rem;
	width: 100%;
	height: 20rem;
	border: 3px solid #00E472;
	border-radius: 20px;
	background-color: #313536;
	color: white;
}
input, textarea{
	outline: none;
}
.form-btn_main{
	width: 100%;
	height: 4rem;
	margin-bottom: 4rem;
	text-align: center;
	color: #fff;
	background: #00E472;
	border-radius: 38px;
	border-color:#00E472; 
}
.form-btn_main:hover{
	background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0ba360, #00E472, #00E472, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    }
.form-btn_text{
	font-family: 'DM Sans';
	font-style: normal;
	font-size: 25px;
	line-height: 33px;
	text-align: center;
	color: #FFFFFF;

}





.footer{
	width: 100%;
	background-color: #252829;
}
.developed-by_text{
	text-align: center;
	font-family: 'DM Sans';
	font-weight: 400;
	font-size: 20px;
	line-height: 33px;
	color: #ABAEB0;
}
.design-by_text{
	margin-top: -1rem;
	text-align: center;
	font-family: 'DM Sans';
	font-weight: 400;
	font-size: 15px;
	line-height: 33px;
	color: #ABAEB0;
}
.heart{
	color: #00E472;;
}
.color{
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 15px;
	line-height: 33px;
	color: #00E472;
}
.year{
	text-align: center;
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: 25px;
	line-height: 33px;
	color: #00E472;
}
form [placeholder]{
	padding: 2rem;
}



@media (max-width: 1199px) {
	.navbar ul{
	margin-top: 1rem;
	}
	.navbar-logo{
		margin-top: .3rem;
	}
	.navbar-btn{
		margin-top: 1.2rem;
	}
	.navbar-btn a{
		margin-top: 1rem;
		padding: 0.8rem 7.5rem;
	}
	.hero-image img{
		margin-top: 4rem;
		height: 38rem;
		}
	.about-me-img{
		width: 35rem;
		margin-top: 13rem;
		height: 40rem;
	}
	.my-skills-left{
		margin-top: 7rem;
		margin-top: 8rem;
	}
	.more-image{
		margin-top: 20rem;
		height: 38rem;
	}
	.my-project_first{
		width: 100%;
		height: 20rem;
	}
	.my-project_first img{
		width: 80%;
		height: 15rem;
	}

@media (max-width: 991px) {
	.navbar-link{
		padding: 1rem 0;
	}
	.navbar ul{
	margin-top: 2rem;
	}
	.navbar-btn{
		margin: 2rem;
		margin-bottom: 3rem;
	}	
	.hero-btn{
		margin: 1rem 0 2rem 23.5%;
		width: 35rem;
	}
	.hero-text-two{
		margin-bottom: 0;
	}
	.my-skills-left{
		margin-top: 5rem;
	}
	.about-me-img{
		display: none;
	}
	.about-me-text{
		margin-top: 2rem;
		text-align: center;
	}
	.forward{
		display: none;
	}
	.more-about-me{
		text-align: center;
	}
	.more-about-me p{
		margin-left: 25%;
	}
	.more-image{
		width: 60%;
		margin-top: 1rem;
		margin-bottom: 5rem;
	}
	.works{
		margin-top: -2rem;
	}
	.my-project_first{
		margin:  1rem 0 8rem 21%;
		width: 40rem;
		height: 20rem;
	}
	.my-project_first img{
		width: 70%;
		height: 15rem;
	}
	.form-btn_main{
		width: 40%;
		margin-left: 30%;
	}
}

@media (max-width: 767px) {
	.navbar-btn{
		margin-top: 2rem;
	}
	.hero-text-two{
		margin-bottom: 5rem;
	}
	.hero-btn{
		margin-left: 15%;
		width: 70%;
	}
	.more-about-me p{
		margin-left: 0;
		width: 100%;
	}
	.more-image{
		width: 35rem;
		margin-top: 1rem;
		margin-bottom: 5rem;
	}
	.my-project_first{
		margin:  1rem 0 5rem 0;

		width: 100%;
		height: 20rem;
	}
	.my-project_first img{
		width: 70%;
		height: 15rem;
	}

 }